---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: trivy-aggregator
  namespace: default

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: trivy-job-creator
  namespace: default
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: trivy-job-creator-binding
  namespace: default
subjects:
  - kind: ServiceAccount
    name: trivy-aggregator
    namespace: default
roleRef:
  kind: Role
  name: trivy-job-creator
  apiGroup: rbac.authorization.k8s.io

